.app-header{
  top:0;
  height: 60px;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: white;
}

.app-header tr{
  border: 2px solid red;
}

.app-header tr td{
  vertical-align: middle;
  padding-top: .5em;
  padding-bottom: .5em;
}

.app-header tr td:nth-child(1),
.app-header tr td:nth-child(2)
{
    width:1%;
    white-space:nowrap;
}
.app-header tr td:nth-child(1) button{
  margin-left: .5em;
}

.app-header tr td h1{
  line-height: 1em;
  margin: 0;
  margin-left: .5em;
  font-size: 2em;
}

.app-header tr td button{
  float: right;
  margin-right: .5em;
}

.app-header tr td button img {
  height: 40px;
  border-radius: 4px;
}
